<link rel="stylesheet" href="/css/home.css">

<header>
    <div class="left-section">
        <img src="/img/webwestin-logo.png" alt="logo">
        <span>Webwestin.com</span>
    </div>

    <div class="right-section">
        <ul>
            <li><a href="">About Company</a></li>
            <li><a href="">Skill Development Courses</a></li>
            <li><a href="">Startup ideas</a></li>
            <li><a href="">Streamline Education</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="details">
        <h1>Live, one-on-one online classes for Marathi | Hindi | English.</h1>
        <p>Practice English conversation with excellent communicators across the country and speak like a PRO 😎.</p>
        <div class="buttons">
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </div>
    <div class="img">
        <img src="/img/learner-collage.png" alt="students-gallery">
    </div>
</main>